body {
    background: url("../images/icecream.jpg");
}

p {
    font-family: 'Kaushan Script', cursive;
}

#gifs {
    width: 1100px;
    float: left;
}

.btnDesign {
    background-color:#9D7A9D;
    border-color: #FF69B4;
    color: white;
    margin: 5px;
}

.divStyle {
    float: left;
    margin: 10px;
}